img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
body {
    margin: 0 auto;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 40%,rgb(24, 24, 24) 60%);
}
figure {
    margin: 0 auto;
}
p,header,sub,ul,footer,h3 {
    color: whitesmoke;
    filter: brightness(2);
}
p {
    font-family: 'EB Garamond', serif;
}
header {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-style: italic;
}
sub {
    font-size: 70%;
}
ul {
    list-style: none;
}
picture {
    margin: 0 auto;
}
a {
    color: darkgreen;
}
a:hover {
    color: aquamarine;
    background-color: rgb(85, 0, 0);
}
footer {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin: 5px;
}
iframe {
    width:320px; 
    height:300px;
}
h3 {
    text-align: center;
    font-style: italic;
}
@media only screen and (min-width: 37.5em){
    footer {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (min-width: 48em){
    .lists {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    footer {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    div {
        display: grid;
        grid-template-columns: 41% 18% 41%;
        padding: 5px;
        grid-gap: 100px;
    }
    iframe {
        grid-area: 1 / 2;
    }
}
@media only screen and (min-width: 65em){
    article, aside, footer, .lists, figure, .smoke {
        margin: 0 auto;
        max-width: 70em;
    }
    figure {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 3px;
    }
    .smoke {
        grid-template-columns: 100%;
    }
    iframe {
        width:500px; 
        height:400px;
    }
}
